body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #ffffff, #cfcfcf);
    background-size: cover;
    background-attachment: fixed;
   
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

h1 {
    font-size: 36px;
    margin: 0;
}

.columnas {
    display: flex;
    flex-wrap: wrap;
}

.columna-izquierda {
    flex: 1;
    padding: 20px;
}

.columna-derecha {
    flex: 1;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
